---
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BlogCard from "../components/BlogCard.astro";
import { projects } from "../data/projects";
import { getCollection } from "astro:content";

const featuredProjects = projects.slice(0, 2);
const recentPosts = (await getCollection("blog"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 2);
---

<Layout title="lukas/home">

	<div class="page">

		<div>
			<Intro/>
		</div>

		<div class="container">
			<div class="titles">
				<p class="text">Projects</p>
				<a class="link" href="/projects">View all →</a>
			</div>

			<div class="projects">
				{featuredProjects.map((p) => (
					<ProjectCard {...p} />
				))}
			</div>

		</div>

		<div class="container">
			<div class="titles">
				<p class="text">Blog</p>
				<a class="link" href="/blog">View all →</a>
			</div>

			<div class="blog-posts">
				{recentPosts.map((post) => (
					<BlogCard
						title={post.data.title}
						description={post.data.description}
						date={post.data.date}
						slug={post.slug}
						tags={post.data.tags}
					/>
				))}
			</div>

		</div>

	</div>

</Layout>


<style>
	
	.page {
		display: flex;
		flex-direction: column;
		gap: 50px;
		padding-block: 50px;
	}

	.titles {
		display: flex;
        align-items: center;
        justify-content: space-between;

		margin-bottom: 1ch;
		
	}

	.projects {
		display: flex;
		gap: 16px;
	}

	.project {
		flex: 1;
		background: #452F5E;
		border-radius: 10px;
		min-height: 350px;
		padding: 1ch;
		border: 3px solid #7550A1;
		cursor: pointer;
		transition: border-color 0.2s ease;
	}

	.project:hover {
		border-color: #A084C2;
	}

	.text {
		font-size: 20px;
		font-weight: bold;
	}

	.link {
		font-size: 16px;
	}

	.blog-posts {
		display: flex;
		flex-direction: column;
		gap: 16px;
		
	}

	.blog-post {
		background: #452F5E;
		border-radius: 10px;
		padding: 1ch;
		border: 3px solid #7550A1;
		min-height: 115px;
		cursor: pointer;
		transition: border-color 0.2s ease;
	}

	.blog-post:hover {
		border-color: #9b7bc4;
	}

    @media (max-width: 500px) {
        .projects {
            flex-direction: column;
        }
    }

</style>

